.app{
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container{
  width: 100vw;
  height: 99vh;
}

@media screen and (min-width:900px) {
  .app-container{
    display: flex;
    padding-left: 45px;
  }
}

@media screen and (min-width:1030px) {
  .app-container{
    width: 80vw;
  }
}