.category-container{
    border-right: 1px solid gray;
    width: 30%;
    padding-top: 80px;
    padding-right: 50px;
}

.filter-btn{
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    color: var(--main-text-color);
}

.filter-btn:hover{
    color: var(--secondary-text-color);
}

.radio-menu{
    align-self: center;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter-btn-active{
    display: inline-block;
    margin-top: 15px;
    font-weight: 700;
    color: var(--main-text-color);
}
