@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
  font-family: var(--font-style);
  font-size: 30px;
}

:root{
  --main-text-color: rgba(0,0,0,1);
  --secondary-text-color: rgba(171,171,171,1);
  --complete-text-color: rgba(235,87,87,1);
  --check-mark-color: rgba(57, 174, 104, 1);
  --font-style: 'Arimo', sans-serif;
}


h1, h2,h3{
  margin: 0;
  font-weight: 700;
}